<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .gradient-custom-2 {
/* fallback for old browsers */
background: #375207;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, #186f39, #066832, #005e27, #00462e);

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, #066832,  #00462e);
}
.btn-outline-custom {
    color: #066832; /* Brown color */
    border-color: #005e27; /* Brown color for border */
}

.btn-outline-custom:hover {
    color: #fff; /* Text color on hover */
    background-color: grey; /* Background color on hover */
    border-color: grey; /* Border color on hover */
}

@media (min-width: 768px) {
.gradient-form {
height: 100vh !important;
}
}
@media (min-width: 769px) {
.gradient-custom-2 {
border-top-right-radius: .3rem;
border-bottom-right-radius: .3rem;
}
}
.validation-message{
  color: red;
  margin-top: 5px;
}
    </style>
</head>
<body>
    <section class="h-100 gradient-form" style="background-color: #eee;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
              <div class="card rounded-3 text-black">
                <div class="row g-0">
                  <div class="col-lg-6">
                    <div class="card-body p-md-5 mx-md-4">
      
                      <div class="text-center">
                   
                        
                                <h1 class="text-primary mb-0"><a href="/"><img src="/styles/img/logo.png" alt="" style="width: 180px;height: 180px;"></a></h1>
                      </div>
      
                      <form
                      id="registrationForm"
                      onsubmit="return validateForm(event)"
                      action="/login" method="POST"
                    >
                        <p>Please login to your account</p>
      
                        <div class="form-outline mb-4">
                            <label class="form-label" for="email">Email</label>
                          <input type="email" id="email" name="email" class="form-control"
                            placeholder="  Please enter your email address" value="<%= oldInput.email %>">
                            <div id="emailError" class="validation-message">
                            </div>
                        </div>
      
                        <label class="form-label" for="password">Password</label>
                        <div class="form-outline mb-4">
                          <input type="password" id="password" class="form-control" name="password" value="<%= oldInput.password %>" placeholder="  Please enter your password"/>
                          <div id="passError" class="validation-message">
                          </div>
                        </div>
                        <div class="text-center pt-1 mb-5 pb-1">
                            <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Log in</button>

                          <!-- <a class="text-muted" href="#!">Forgot password?</a> -->
                        </div>
      
                        <div class="d-flex align-items-center justify-content-center pb-4">
                          <p class="mb-0 me-2">Don't have an account?</p>
                          <a href="/signup" class="btn btn-outline-custom">Create new</a>

                        </div>
      
                      </form>
      
                    </div>
                  </div>
                  <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                    <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                      <h4 class="mb-4">Welcome back!</h4>
                      <p class="small mb-0">Login to access exclusive offers and manage your account and to discover new arrivals and manage your orders.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <script>
    function validateForm(e) {
        let uservalid = true;
        var email = document.getElementById("email").value;
        var password = document.getElementById("password").value;
        var emailError = document.getElementById("emailError");
        var passError = document.getElementById("passError");

        if (email === "" || !/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/.test(email)) {
            emailError.innerHTML = "Email is required and should be a valid email address.";
            uservalid = false;
        } else {
            emailError.innerHTML = "";
        }

        // if (password.length < 8) {
        //     passError.innerHTML = "Password should be at least 8 characters long.";
        //     uservalid = false;
        // } else {
        //     passError.innerHTML = "";
        // }

        if (!uservalid) {
            e.preventDefault();
        }
    }
</script>
</body>
</html>