<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<<<<<<< HEAD
=======
    <title>Sign Up Form by Colorlib</title>
>>>>>>> b95c79e771431ed57d2c936437f083d4f12baefa

    <!-- Font Icon -->
    <link rel="stylesheet" href="styles/signup/fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="styles/signup/vendor/nouislider/nouislider.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="styles/signup/css/style.css">
    <style>
        img {
            height: 99%;
        }
        .validation-message{
            color: red;
        }
    </style>
</head>
<body>

    <div class="main">
        <div class="container">
            <div class="signup-content">
                <div class="signup-img" style="width: 500px;">
                    <img src="styles/signup/images/login.jpg" alt="">
                    <div class="signup-img-content">
                        <h2>Register now</h2>
                        <p>while seats are available!</p>
                    </div>
                </div>
                <div class="signup-form">
                    <form action="/signup" method="POST" class="register-form" id="register-form">
                        <div class="form-row">
                            <div class="form-group">
                                <div class="form-input">
                                    <label for="first_name" class="required">First name</label>
                                    <input type="text" name="fName" id="first_name" />
                                    <div id="firstNameError" class="validation-message"></div>
                                </div>
                                <div class="form-input">
                                    <label for="last_name" class="required">Last name</label>
                                    <input type="text" name="lName" id="last_name" />
                                    <div id="lastNameError" class="validation-message"></div>
                                </div>
                                <div class="form-input">
                                    <label for="user_name" class="required">User name</label>
                                    <input type="text" name="userName" id="user_name" />
                                    <div id="userNameError" class="validation-message"></div>
                                </div>
                                <div class="form-input">
                                    <label for="company" class="required">Company</label>
                                    <input type="text" name="companyName" id="company" />
                                    <div id="companyError" class="validation-message"></div>
                                </div>
                                <div class="form-input">
                                    <label for="email" class="required">Email</label>
                                    <input type="email" name="email" id="email" />
                                    <div id="emailError" class="validation-message"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-input">
                                    <label for="phone_number" class="required">Phone number</label>
                                    <input type="text" name="mobile" id="phone_number" />
                                    <div id="phoneError" class="validation-message"></div>
                                </div>
                                <div class="form-radio">
                                    <div class="label-flex">
                                        <label for="payment">Gender</label>
                                    </div>
                                    <div class="form-radio-group">
                                        <div class="form-radio-item">
                                            <input type="radio" checked="checked" name="gender" value="male" id="male">
                                            <label for="male">Male</label>
                                            <span class="check"></span>
                                        </div>
                                        <div class="form-radio-item">
                                            <input type="radio" name="gender" value="female" id="female">
                                            <label for="female">Female</label>
                                            <span class="check"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-input">
                                    <label for="chequeno">Birthday</label>
                                    <input type="date" name="birthday" id="chequeno" />
                                </div>
                                <div class="form-input">
                                    <label for="password">Password</label>
                                    <input type="password" name="password" id="password" />
                                    <div id="passwordError" class="validation-message"></div>
                                </div>
                                <div class="form-input">
                                    <label for="confirm_password">Confirm Password</label>
                                    <input type="password" name="confirmPassword" id="confirm_password" />
                                    <div id="confirmPasswordError" class="validation-message"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-submit">
                            <input type="submit" value="SignUp" class="submit" id="submit" name="submit" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- JS -->
    <script src="styles/signup/vendor/jquery/jquery.min.js"></script>
    <script src="styles/signup/vendor/nouislider/nouislider.min.js"></script>
    <script src="styles/signup/vendor/wnumb/wNumb.js"></script>
    <script src="styles/signup/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="styles/signup/vendor/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="styles/signup/js/main.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var form = document.getElementById("register-form");

            form.addEventListener("submit", function (event) {
                event.preventDefault();
                var errors = [];

                // Clear previous error messages
                var errorMessages = document.querySelectorAll('.validation-message');
                errorMessages.forEach(function (message) {
                    message.textContent = "";
                });

                // Validate first name
                var firstNameInput = document.getElementById("first_name");
                var firstNameError = document.getElementById("firstNameError");
                if (!firstNameInput.value.match(/^[a-zA-Z]{3,}$/)) {
                    firstNameError.textContent = "First name must contain only letters and be at least 3 characters long.";
                    errors.push(firstNameError.textContent);
                }

                // Validate last name
                var lastNameInput = document.getElementById("last_name");
                var lastNameError = document.getElementById("lastNameError");
                if (!lastNameInput.value.match(/^[a-zA-Z]{3,}$/)) {
                    lastNameError.textContent = "Last name must contain only letters and be at least 3 characters long.";
                    errors.push(lastNameError.textContent);
                }

                // Validate user name
                var userNameInput = document.getElementById("user_name");
                var userNameError = document.getElementById("userNameError");
                if (!userNameInput.value.match(/^[a-zA-Z0-9]{5,}$/)) {
                    userNameError.textContent = "User name must contain only letters, numbers, and be at least 5 characters long.";
                    errors.push(userNameError.textContent);
                }

                // Validate company name
                var companyNameInput = document.getElementById("company");
                var companyError = document.getElementById("companyError");
                if (!companyNameInput.value.match(/^[a-zA-Z\s]{5,}$/)) {
                    companyError.textContent = "Company name must contain only letters and spaces, and be at least 5 characters long.";
                    errors.push(companyError.textContent);
                }


                // Validate email
                var emailInput = document.getElementById("email");
                var emailError = document.getElementById("emailError");
                if (!emailInput.value.match(/^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/)) {
                    emailError.textContent = "Please enter a valid email address.";
                    errors.push(emailError.textContent);
                }

                // Validate phone number
                var phoneInput = document.getElementById("phone_number");
                var phoneError = document.getElementById("phoneError");
                if (!phoneInput.value.match(/^\d{10,15}$/)) {
                    phoneError.textContent = "Please enter a valid phone number.";
                    errors.push(phoneError.textContent);
                }


                // Validate password
                var passwordInput = document.getElementById("password");
                var passwordError = document.getElementById("passwordError");
                if (!passwordInput.value.match(/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$/)) {
                    passwordError.textContent = "Password must contain at least one uppercase letter, one lowercase letter, and one number, and be at least 8 characters long.";
                    errors.push(passwordError.textContent);
                }

                // Validate confirm password
                var confirmPasswordInput = document.getElementById("confirm_password");
                var confirmPasswordError = document.getElementById("confirmPasswordError");
                if (confirmPasswordInput.value !== passwordInput.value) {
                    confirmPasswordError.textContent = "Passwords do not match.";
                    errors.push(confirmPasswordError.textContent);
                }

                // Display error messages
                var errorContainer = document.getElementById("error-messages");
                errorContainer.innerHTML = "";
                if (errors.length > 0) {
                    event.preventDefault();
                    errors.forEach(function (error) {
                        var errorMessage = document.createElement("div");
                        errorMessage.textContent = error;
                        errorContainer.appendChild(errorMessage);
                    });
                }
            });
        });
    </script>
</body>
</html>
